$white: #ffffff;
$red: #ff0000;

$lightest-gray: #fafafa;
$light-gray: #e6e6e6;
$gray: #939393;
$dark-gray: #666666;
$darkest-gray: #333333;
$separator-gray: #c7c7c7;

$input-border: #dbdbdb;
$insta-blue : #3897f0;
$insta-blue-disabled: #b4daff;


$gray-link: #262626;
