.edit-profile-main {
  padding-top: 60px;
}

.edit-profile-article {
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  display: flex;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  min-height: 400px;
}

.edit-profile-navigation {
  flex-grow: 1;
  border-right: 1px solid #dbdbdb;

}

.edit-profile-navigation-item{
  font-size: 16px;
  font-weight: bold;
  padding: 20px 10px;
  border-left: 3px solid $darkest-gray;
}

.edit-profile-form-header {
  margin: 32px 0 16px 0;
  display: flex;
  align-items: center;
}

.edit-profile-header-img {
  flex: 1;
  text-align: right;
}

.edit-profile-header-img img {
  border-radius: 50%;
}

.edit-profile-header-name {
  flex: 3;
  text-align: left;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 600;
}

.edit-profile-data {
  flex-grow: 3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  margin: 32px 0 16px 0;
}

.edit-profile-data-row{
  display: flex;
  align-items: center;
  margin-bottom: 16px;

}

.edit-profile-field-title {
  flex: 1;
  text-align: right;
  margin-right: 30px;
  min-width: 100px;
}

.edit-profile-field-input-holder {
  flex: 3;
}

.edit-profile-field-input-holder > * {
  width: 70%;
  min-width: 150px;
  font-size: 18px;
  font-weight: 500;
  color: $gray-link;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 10px;
}

.edit-bio-textarea {
  max-width: 500px;
  border: 1px solid $input-border;
}

.edit-user-submit {
  background: $insta-blue;
  border-color: $insta-blue;
  color: $white;
  font-size: 16px;
  padding: 8px;
  width: 30%;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.profile-user-follow-btn {
  background: $insta-blue;
  color: $white;
  padding: 4px 24px;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid $insta-blue;
  font-size: 14px;
  font-weight: 600;
}

.input-file {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 90px;
  cursor: pointer;
  opacity: 0;
  // background-color: green;
}

.edit-profile {
  overflow: hidden;
  // background-color: red;
  position: relative;
}
