// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-box{
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
  // padding: 10px;
}


.posts-feed {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.post-header{
  border-bottom: 1px solid #efefef;
  padding: 15px;
  display: flex;
  align-items: center;
}

.post-header-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}


.post-image-holder {
  box-sizing: border-box;
  padding: 0px;
  // display: flex;
}

.gray-link{
  color: $gray-link;
  font-weight: 600;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.test-profile-page-images{
  width: 500px;
  margin: 0 auto;
}

.post-footer {
  padding: 0 15px;
}

.post-footer-icons{
  margin-top: 0px;
  margin-left: -8px;
  font-size: 24px;
  display: flex;
}

.post-footer-icons a {
  padding: 8px;
  color: $gray-link;

}

.post-footer-icons a:hover {
  color:$dark-gray;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.post-footer-likes {
  margin-bottom: 10px;
}

.post-footer-items {
  padding: 8px 0;
  // margin: 5px 0;
}

.post-footer-time-ago {
  padding: 5px 0;
  color: $gray;
  text-transform: uppercase;
  font-size: 10px;
}

.add-comment{
  border-top: 1px solid $light-gray;
  color: $light-gray;
  margin-top: 5px;
}

.add-comment-form {
  display: flex;
}

.input-comment {
  border: none;
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.input-comment:focus {
  outline: 0;
}

.add-comment-submit {
  background-color: $white;
  border: 1px solid $lightest-gray;
  color: $insta-blue;
  cursor: pointer;
}
