// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-box{
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
  // padding: 10px;
}


.posts-feed {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.post-header{
  border-bottom: 1px solid #efefef;
  padding: 10px;
}

.post-image-holder {
  // border: 1px solid red;
  padding: 5px;
  display: flex;
}
