.user-profile-main {
  background-color: $lightest-gray;
}

.user-profile-article {
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  padding-top: 60px;
}

.user-profile-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}


.user-profile-logo {
  flex-grow: 1;
}

.user-profile-img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.user-profile-img img{
  border-radius: 50%;
}

.user-profile-data {
  flex-grow: 2;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-name {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
}

.profile-data-username {
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.profile-edit-btn {
  color: #262626;
  padding: 4px 24px;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: 0 0;
  font-size: 14px;
  font-weight: 600;
}
.gear {
  color: #262626;
  font-size: 20px;
  margin-left: 20px;
}

.profile-data-stats {
  margin-bottom: 20px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.profile-data-stats-data {
  font-size: 16px;
  margin-right: 40px;
  line-height: 24px;
}


.user-profile-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.user-profile-image-holder {
  width: 31.3%;
	margin: 0 3.05% 3.05% 3.05%;
  padding: 0px;
  margin-left: 0px;
  box-sizing: border-box;
  position: relative;
}

.user-profile-image-holder:before{
    content: "";
    display: block;
    padding-top: 100%;  /* ratio of 1:1*/
}

.container-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-image > img {
  border-radius: 2px;
}

.img-wrap {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

.img-wrap:hover {
  -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}


.user-profile-image-holder:hover img {
    // opacity: 0.8;
}


.user-profile-image-holder:hover {
  // opacity: 0.7;
}

.user-profile-image-holder:nth-of-type(3n+1) {
	margin-left: 0;
}
.user-profile-image-holder:nth-of-type(3n) {
	margin-right: 0;
}

.user-profile-image-holder-data {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  transform: translateX(-50%) translateY(-50%);
}

.user-profile-image-holder:hover .user-profile-image-holder-data{
  display: block;
  cursor: pointer;
}

.profile-image-button {
  border-radius: 50%;
  background-color: $lightest-gray;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid $light-gray;
  padding: 0px;
}
