/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import "reset.scss";
 @import "font-awesome/css/font-awesome.min.css";
 @font-face {
  font-family: 'Billabong';
  // src: url('custom-fonts/billabong.eot'), url('custom-fonts/billabong.ttf');
  src: asset-url('custom-fonts/billabong.eot'), asset-url('custom-fonts/billabong.ttf');
}

body,button,input,textarea{
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size:14px;
  // line-height:18px;
}

a, button {
  cursor: pointer;
}
button{
  border: 2px solid #666;
  border-radius: 5px;
}

button:focus{
  outline:0px;
}

a{
  color: #3897f0;
  text-decoration:none;
}

a:visited{
  color: #3897f0;
  text-decoration:none
}
a:active{
  opacity:.5
}

 #root, html, body {
   height: 100%;
   box-sizing: border-box;
 }

#root {
  height: 100%;
  background-color: #fafafa;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#root section{
  height: 100%;
  flex: 1;
}

footer {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-top: 20px;
  padding: 25px;
}

h1 {
  font-family: 'Billabong';
  font-size: 46px;
  margin: 22px auto 14px;
  text-align: center;
  border: 0px solid whitesmoke;
}

h2 {
  font-size: 17px;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  color: #999;
  font-weight: 600;
}

.landing-page-main{
  box-sizing: border-box;
  /*border: 1px solid yellow;*/
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.landing-page-img {
  align-self: center;
  width: 454px;
  height: 618px;
  background-color: #fafafa;
  background-image: image-url('homepage.png');
  background-repeat: no-repeat;
  margin: 0 10px;
}

.landing-page-intro{
  margin-top: 20px;
  min-width: 300px;
  max-width: 350px;
  flex-grow: 1;
  justify-content: center;
}

.landing-intro-nav{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  color: #262626;
  font-size: 14px;
  margin: 10px 0 10px;
  padding: 25px;
  text-align: center;
}

 .login-box {
   background-color: #fff;
   border: 1px solid #e6e6e6;
   border-radius: 1px;
   margin: 0 0 10px;
   padding: 25px;

   flex: 1;
 }

.login-box-logo {
  border: 0px solid black;
}

 .login-box-form {
  display: flex;
  flex-direction: column;
 /*justify-content: center;*/
}

 .login-box-form input{
   background-color: white;
   border: 1px solid #dbdbdb;
   border-radius: 3px;
   box-sizing: border-box;
   color: #262626;
   font-size: 14px;
   padding: 9px 8px 7px;
   -webkit-appearance: none;
   width: 100%;
 }

 li {
   list-style: none;
 }

 .demo-login {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  font-size: 14px;
  padding: 8px;
}

.errors{
  padding: 0px;
  margin-top: 20px;
  color: red;
}

.or-separator {
  text-align: center;
  color: #999;
  font-weight: 500;
  display: flex;
}

.or-separator-line {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: #c7c7c7;
  height: 1px;
  position: relative;
  top: .45em;
}

.or-separator-text {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  margin: 0 18px;
}

@media only screen and (max-width : 768px) {
  .landing-page-img { display: none; }
}
